/* Tag Selectors */
a{
  color: white;
  text-decoration: none;
  font-weight:bold;
  margin-left: 1em;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 5%;
}

/*body {
  background-color: #ffe3de;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}*/

h1 {
  color: #351f39;
  margin-top: 0:
  font-family: 'Montserrat', sans-serif;
/*  font-family: 'Merriweather', serif;*/
}

h2{
  font-family: 'Montserrat', sans-serif;
/*  font-family: 'Merriweather', serif;*/
}

h3 {
  color: #351f39;
  font-family: 'Montserrat', sans-serif;
/*  font-family: 'Merriweather', serif;*/
}

h4 {
  color: #351f39;
  font-family: 'Montserrat', sans-serif;
/*  font-family: 'Merriweather', serif;*/
}

h6{
  color: white;
}

.boldheadings{
  margin-left: 2px; 
}

.overall{
   background-color: #ffe3de;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.biobrief {
  background-color: #ffc1b6;
  height: 15rem;
  margin: 0;
}

.last-but-bottom-grid-container{
  background-color: #ffe3de;
  height: 13rem;
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  margin-top: 45px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

}

.last-but-bottom-logos{
  text-align: center;
}

.last-but-bottom-logos-h4{
  color: #351f39;
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 0.4em;
  /*  font-family: 'Merriweather', serif;*/
}

.eductaion-grid-container{
  background-color:#ffe3de;
  height: 4.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.bottom-container{
  background-color:#350b40;
  height: 5rem;
  text-align: center;
}

#top-menu {
  background-color: #350b40;
  height: 4rem;
  text-align: left;
}

#pic-n-title {
  background-color: #ffdcb8;
  height: 16rem;
}

#profilepic{
   height: 10rem;
}

#biobrief{
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  margin-left: 10px;
  line-height: 2;
  margin-top: 0;
}

#Name{
  font-family: 'Sacramento', cursive;
}

#footer-para {
  /*color: white;*/
  font-family: 'Montserrat', sans-serif;
}
#sharethemeal{
  margin-left: 80rem;
}
